<div class="background-image"></div>

<ion-content fullscreen>

  <section class="main-container-cart">
    <button class="btn-back" (click)="goBack()">
      <ion-icon name="arrow-back-outline">
      </ion-icon>
      <p>Regresar</p>
    </button>

    <div class="logo-container">
      <img src="/assets/img/waiter-chicken.svg" alt="Waiter Chicken" />
    </div>

    <h1 class="cart-title">TOMANDO LA ORDEN</h1>

    <section class="header-cart-order">
      <p>Tu Orden:</p>
      <button class="empty-cart-btn" (click)="clearCart()">Vaciar Canasta</button>
    </section>

    <div *ngIf="cartItems.length === 0" class="empty-cart">
      <p>No hay productos en tu canasta.</p>
    </div>

    <section *ngIf="cartItems.length > 0" class="cart-list">
      <div *ngFor="let item of cartItems" class="cart-item">
        <div class="thumbnail">
          <img *ngIf="item.producto" [src]="item.producto.imagen_url || 'assets/img/placeholder.png'"
            alt="Imagen producto" />
          <div *ngIf="!item.producto">Sin imagen</div>
        </div>
        <div class="item-label">
          <h2 *ngIf="item.producto">{{ item.producto.nombre }}</h2>
          <p *ngIf="item.producto">S/ {{ (item.producto.precio * item.cantidad) | number:'1.2-2' }}</p>
          <p *ngIf="!item.producto">Producto no disponible</p>
        </div>
        <div class="quantity-controls">
          <button (click)="cambiarCantidad(item, -1)">-</button>
          <span>{{ item.cantidad }}</span>
          <button (click)="cambiarCantidad(item, 1)" [disabled]="item.cantidad >= 10">+</button>
        </div>
      </div>

    </section>


    <section class="cart-summary" *ngIf="cartItems.length > 0">
      <div class="summary-left">
        <span class="summary-title">Total a pagar:</span>
        <span class="summary-amount">S/ {{ total | number:'1.2-2' }}</span>
      </div>
      <div class="summary-right">
        <button class="checkout-btn" (click)="irAPagar()">Ir a Pagar</button>
      </div>
    </section>

  </section>
</ion-content>