<div class="main-navbar-container">
  <button class="home-container" [class.active]="isActive('/home')" (click)="goTo('/home')">
    <ion-icon name="storefront-outline"></ion-icon>
  </button>

  <button class="cart-container" [class.active]="isActive('/cart')" (click)="goTo('/cart')">
    <ion-icon name="cart-outline"></ion-icon>
  </button>

  <button class="favorite-container" [class.active]="isActive('/favorite')" (click)="goTo('/favorite')">
    <ion-icon name="heart-outline"></ion-icon>
  </button>

  <button class="profile-container" [class.active]="isActive('/profile')" (click)="goTo('/profile')">
    <ion-icon name="happy-outline"></ion-icon>
  </button>
</div>