<div class="background-image"></div>

<ion-content fullscreen *ngIf="usuario">

  <div class="main-container-profile">
    <app-header-profile></app-header-profile>
    <div class="carrousel-container">
      <img src="/assets/img/banner-arenas.svg" alt="Carrousel" class="carrousel-image">
    </div>

    <div class="category-btn-container">
      <button class="category-btn" [ngClass]="{'active': categorySelected === 'menu'}"
        (click)="seleccionarCategoria('menu')">Menú</button>
      <button class="category-btn" [ngClass]="{'active': categorySelected === 'bebidas'}"
        (click)="seleccionarCategoria('bebidas')">Bebidas</button>
    </div>

    <div class="products-container">
      <app-product-card *ngFor="let producto of productosFiltrados" [name]="producto.nombre" [price]="producto.precio"
        [imageUrl]="producto.imagen_url" (addClicked)="agregarAlCarrito(producto)"></app-product-card>
    </div>
  </div>
</ion-content>
<app-navbar></app-navbar>