<div class="background-image"></div>

<ion-content fullscreen *ngIf="usuario">

  <div class="main-container-profile">
    <app-header-profile></app-header-profile>
    <div class="carrousel-container">
      <img src="/assets/img/banner-arenas.svg" alt="Carrousel" class="carrousel-image">
    </div>

    <div class="category-btn-container">
      <button class="b-btn">Menú</button>
      <button class="m-btn">Bebidas</button>
    </div>

    <div class="products-container">
      <div class="product-card-container">
        <div class="image-product-container"></div>

        <div class="text-product-container">1/4 de Pollo a la Brasa</div>

        <div class="product-subcontainer">
          <div class="price-container">S/ 15.00</div>
          <button class="add-product">
            <ion-icon name="add-outline"></ion-icon>
          </button>
        </div>
      </div>

      <div class="product-card-container">
        <div class="image-product-container"></div>

        <div class="text-product-container">1/4 de Pollo a la Brasa</div>

        <div class="product-subcontainer">
          <div class="price-container">S/ 15.00</div>
          <button class="add-product">
            <ion-icon name="add-outline"></ion-icon>
          </button>
        </div>
      </div>



      <ion-card *ngIf="usuario">
        <ion-card-header>
          <ion-card-title>HOME</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Dirección:</strong> {{ usuario.direccion }}</p>
          <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
          <p><strong>Correo:</strong> {{ usuario.correo }}</p>
          <ion-buttons slot="end">
            <ion-button (click)="logout()">Cerrar sesión</ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="usuario">
        <ion-card-header>
          <ion-card-title>HOME</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Dirección:</strong> {{ usuario.direccion }}</p>
          <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
          <p><strong>Correo:</strong> {{ usuario.correo }}</p>
          <ion-buttons slot="end">
            <ion-button (click)="logout()">Cerrar sesión</ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
<app-navbar></app-navbar>