<div class="background-image"></div>

<ion-content fullscreen *ngIf="usuario">

  <div class="main-container-profile">
    <app-header-profile></app-header-profile>
    <div class="logo-section-container">
      <div class="logo-container">
        <img src="/assets/img/cart-chicken-image.svg" alt="Logo Carrito" />
      </div>
      <p>EL CARRITO</p>
      <p>Aquí encontrarás todos los productos que agregaste al carrito en algún momento!</p>

    </div>

    <div class="products-container">
      <app-product-card *ngFor="let producto of productos" [id]="producto.id" [name]="producto.nombre"
        [price]="producto.precio" [imageUrl]="producto.imagen_url"></app-product-card>
    </div>
  </div>
</ion-content>
<app-navbar></app-navbar>