<ion-content>
  <ion-card *ngIf="usuario">
    <ion-card-header>
      <ion-card-title>CARRITO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Dirección:</strong> {{ usuario.direccion }}</p>
      <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
      <p><strong>Correo:</strong> {{ usuario.correo }}</p>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">Cerrar sesión</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <app-navbar></app-navbar>

</ion-content>