<div class="background-image"></div>

<ion-content fullscreen>
  <section class="main-container-pay">
    <button class="btn-back" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      <p>Regresar</p>
    </button>

    <section class="user-address">
      <h1>Dirección de Entrega:</h1>
      <p *ngIf="usuario">{{usuario.direccion}}</p>
    </section>

    <section class="header-pay-section">
      <h1 class="pay-title">MÉTODO DE PAGO</h1>
      <img src="/assets/img/money-cash-chicken.svg" alt="Money Chicken" />
    </section>


    <section class="header-subtitle-section">
      <h1>Agregar Tarjeta:</h1>
      <button class="add-card-btn" (click)="abrirModalAgregarTarjeta()">+</button>
    </section>

    <section class="payment-options">

      <div class="payment-method">
        <input type="checkbox" [(ngModel)]="pagoEfectivo" id="efectivo" />
        <label for="efectivo">Efectivo</label>
      </div>

      <div class="payment-method">
        <input type="checkbox" [(ngModel)]="pagoYape" id="yape" />
        <label for="yape">Yape</label>
      </div>

      <div class="payment-method">
        <div *ngIf="tarjetas.length === 0">No tienes tarjetas guardadas.</div>
        <div *ngFor="let t of tarjetas" class="saved-card">
          <p>{{ t.numero_mascara }} - {{ t.nombre_propietario }}</p>
        </div>
      </div>
    </section>

    <section class="pay-summary">
      <div class="summary-left">
        <span class="summary-title">Total a pagar:</span>
        <span class="summary-amount">S/ {{ total | number:'1.2-2' }}</span>
      </div>
      <div class="summary-right">
        <button class="checkout-btn">Realizar Pedido</button>
      </div>
    </section>
  </section>

  <!-- MODAL -->
  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
      <img src="/assets/img/card-chicken.png" alt="Agregar tarjeta" class="modal-image" />
      <h2>AGREGA TU TARJETA</h2>

      <section class="form-field">
        <label>Número de tarjeta</label>
        <div id="card-number-element" class="stripe-element"></div>
      </section>

      <section class="form-row">
        <div class="form-field">
          <label>MM / YY</label>
          <div id="card-expiry-element" class="stripe-element"></div>
        </div>
        <div class="form-field">
          <label>CVV</label>
          <div id="card-cvc-element" class="stripe-element"></div>
        </div>
      </section>

      <div class="modal-actions">
        <button class="save-btn-target" (click)="guardarTarjeta()">Guardar</button>
        <button (click)="cancelarAgregarTarjeta()">Cancelar</button>
      </div>
    </div>
  </div>
</ion-content>